{% load static %}

<!DOCTYPE HTML>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>Планировщик</title>
   <link rel="stylesheet" href="{% static 'css/style1.css' %}" type="text/css"/>
</head>
<body>
    <div id="top">
        <div class="top-left"><a href="{% url 'main' %}">Планировщик</a></div>
        <div class="top-right">
            Вы вошли как: {{ user }} | <a href="{% url 'logout' %}">Выйти</a>
        </div>
    </div>
    <div style="width:100%; height:1px; clear:both;"></div>
    <div id="'block">
        <div id="task">
            <div id="name">Новые задачи</div>
            <table>
                <tbody>

            <tr>
                <th>ID задачи</th>
                <th>Тема</th>
                <th>Заказчик</th>
            </tr>
            {% for i in data %}
                {% if i.status == '0' and i.executor == user %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td><a href="{% url 'worktask' i.id %}">{{ i.title }}</a></td>
                        <td>{{ i.author }}</td>
                    </tr>
                {% endif %}
            {% endfor %}

                <tr><td>-</td><td>-</td><td>-</td></tr>
            </tbody>
            </table>
        </div>
        <div id="task">
            <div id="name">Мои задачи</div>
            <table>
            <tbody>
            <tr>
             <th>ID задачи</th>
                <th>Тема</th>
                <th>Статус</th>
                <th>Исполнитель</th>
            </tr>
            {% for i in data %}
                {% if i.author == user %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td><a href="{% url 'worktask' i.id %}">{{ i.title }}</a></td>
                        <td>
                            {% if i.status == '0' %}
                                Не взята в работу
                            {% elif i.status == '1' %}
                                В работе
                            {% elif i.status == '2' %}
                                На подтверждении
                            {% else %}
                                Выполнена
                            {% endif %}
                        </td>
                        <td>{{ i.executor }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr><td>-</td><td>-</td><td>-</td><td>-</td></tr>
            </tbody>
            </table>
        </div>
    </div>
    <div style="width:100%; height:1px; clear:both;"></div>
    <div id="'block">
        <div id="task">
            <div id="name">Задачи в работе</div>
            <table>
                <tbody>
                <tr>
                    <th>ID задачи</th>
                    <th>Тема</th>
                    <th>Заказчик</th>
                </tr>
                {% for i in data %}
                    {% if i.status == '1' and i.executor == user %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td><a href="{% url 'worktask' i.id %}">{{ i.title }}</a></td>
                            <td>{{ i.author }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}

                <tr><td>-</td><td>-</td><td>-</td></tr>
                </tbody>
            </table>
        </div>
        <div id="task">
            <div id="name">Требующие подтверждения</div>
            <table>
            <tbody>
            <tr>
                <th>ID задачи</th>
                <th>Тема</th>
                <th>Исполнитель</th>
            </tr>
            {% for i in data %}
                {% if i.author == user and i.status == '2' %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td><a href="{% url 'worktask' i.id %}">{{ i.title }}</a></td>
                        <td>{{ i.executor }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr><td>-</td><td>-</td><td>-</td></tr>
            </tbody>
            </table>
        </div>
    </div>

    <div style="width:100%; height:1px; clear:both;"></div>
    <div id="'block">
        <div id="task">
            <div id="name">На подтверждении у заказчика</div>
            <table>
            <tbody>
            <tr>
                <th>ID задачи</th>
                <th>Тема</th>
                <th>Заказчик</th>
            </tr>
            {% for i in data %}
                {% if i.status == '2' and i.executor == user %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td><a href="{% url 'worktask' i.id %}">{{ i.title }}</a></td>
                        <td>{{ i.author }}</td>
                    </tr>
                {% endif %}
            {% endfor %}

            <tr><td>-</td><td>-</td><td>-</td></tr>
            </tbody>
            </table>


        </div>
    </div>
    <div style="width:100%; height:1px; clear:both;"></div>
    <div id="'block">
        <div id="task">
            <div id="name">Выполненные</div>
            <table>
            <tbody>
            <tr>
             <th>ID задачи</th>
                <th>Тема</th>
                <th>Заказчик</th>
            </tr>
            {% for i in data %}
                {% if i.status == '3' and i.executor == user %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td><a href="{% url 'worktask' i.id %}">{{ i.title }}</a></td>
                        <td>{{ i.author }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr><td>-</td><td>-</td><td>-</td></tr>
            </tbody>
            </table>
        </div>

    </div>

    <div style="width:100%; height:1px; clear:both;"></div>
    {% if tag_author == '1' %}
    <form action="" method="post">
        <p><input type="submit" name="create-task" value="Создать новую задачу"></p>
    </form>
    {% endif %}
</body>
</html>